@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes loaderBounce {
  0% {
    transform: translateY(0);
    opacity: 0.4;
  }
  100% {
    transform: translateY(-10px);
    opacity: 1;
  }
}
